<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
  <app-training-create (trainingCreated)="add($event)"></app-training-create>
  <div class="training-wrapper">
    <nav>
      <app-training-thumbnail
        *ngFor="let training of trainings"
        [training]="training"
        (trainingSelected)="setCurrent($event)"
      ></app-training-thumbnail>
    </nav>
    <app-training-detail [training]="currentTraining"></app-training-detail>
  </div>
</div>

